.about_me {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15vh;
}

/* about me txt */

.about_me_txt_container {
    width: 90%;
    height: 40vh;
}


.hi {
    width: 40vw;
    min-width: 250px;
}

.hi_txt {
    font-size: calc(10px + 0.8vw)
}

.hidden-pic,
.hidden-pic-div {
    display: none;
}

.pic {
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.pic_1 {
    min-width: 150px;
    min-height: min-width;
    width: 30vw;
    height: width;
}

/* why me txt */

.why_me_container {
    height: 40vh;
}

.why_me {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.why_me_txt {
    color: #314833;
    font-size: calc(10px + 2.5vw);
    font-weight: 150;

}

.passion {
    width: 40vw;
}

.passion_txt {
    font-size: calc(10px + 0.8vw)
}



/* responsive */

@media only screen and (max-width: 550px) {
    .about_me {
        min-width: 300px;
    }

    .me,
    .about_me {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hidden-pic {
        display: flex;
        min-width: 100px;
        min-height: min-width;
        width: 10vw;
        height: width;


    }

    .hidden-pic-div {
        width: 15vw;
        height: width;
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 4%;
    }

    .pic_1 {
        display: none;
    }

    .about_me_txt_container {
        display: flex;
        flex-direction: column;
        clear: both;
        width: 100%;
        height: 50vh;
        align-items: center;
        justify-content: center;
    }

    .hi,
    .hi_txt,
    .passion,
    .passion_txt {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .why_me {
        justify-content: center;
    }

    .star1 {
        margin-top: 3vh;
    }

    .star2 {
        margin-bottom: 0.5vh;
    }



}