.pic{
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.starWImgPic{
    position: absolute;
}


.first_page{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic_1{
    min-width: 150px;
    min-height: min-width;
    width: 30vw;
    height: width;
}

.aboutMe {
    width: 90%;
    height: 40vh;
}

.about_me {
    display: flex;
}

.about_me_txt {
    font-size: calc(10px + 4vw);
    font-weight: 150;
    color: #314833;
}

.star1 {
    width: calc(10px + 1vw);
    height: width;
    margin-top: 8vh;
}

.star2{
    width: calc(10px + 1vw);
    height: width;
    margin-bottom: 4vh;
}

.hi{
    width: 40vw;
}

.hi_txt {
    font-size: calc(10px + 0.8vw)
}

.whyMe {
    width: 90%;
    height: 40vh;
}

.why_me {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.why_me_txt {
    color: #314833;
    font-size: calc(10px + 2.5vw);
    font-weight: 150;
    
}

.passion {
    width: 40vw;
}

.passion_txt {
    font-size: calc(10px + 0.8vw)
}

@media only screen and (max-width: 550px) {
    .me, .first_page {
        display: flex;
        flex-direction: column;
    }

    .aboutMe {
        content: attr(.pic_1);
        flex-direction: column-reverse;
    }
}