.pic{
    width: 50vw;
    height: 100%;
    display: flex;
    background-color: red;
    margin: 1%;
}

.starWImgPic{
    position: absolute;
}

.back_big {
    width: 25vw;
    height: 60vh;
    min-width: 350px;
    min-height: 410px;
    position: relative;
}

.front_end {
    position: absolute;
}

.front_start {
    position: absolute;
}

.first_page{
    display: flex;
}
