*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ECE5D8;
}

.menu{
    background-color: #314833;
    width: 100vw;
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
}

.name{
    display: flex;
    align-items: center;
}

.maria{
    font-size: calc(10px + 0.5vw);
    font-weight: 100;
    margin-left: 1vw;
    color: #ECE5D8;
}

.starWImg{
    width: calc(10px + 2vw);
    height: width;
   
}

.star{
    display: flex;
}

.bar {
    display: flex;
}

.bar ul{
    display: flex;
    list-style-type: none;
    padding-right: 0.2vw;
    justify-content: space-between;
    align-items: center;

}

.bar ul li a{
    text-decoration: none;
    display: flex;
    padding: 0.8vw;
    color: #ECE5D8;
    min-width: 120px;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 0.5vw);
    font-weight: 100;
}

.bar ul li a:hover {
    background-color: #ECE5D8;
    color: black;
    border-radius: 200px;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 550px) {
     .menu {
        align-items: flex-end;
        justify-content: center;
     }

     .name, .star, .starWImg {
        display: none;
        visibility: hidden;
     }

     .bar ul li a{
        padding: 2vw;
    min-width: 50px;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1.5vw);
    font-weight: 100;
     }
} 