.portfolio {
    width: 100vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
  
}

.portfolio_title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
}

.portfolio_first_page {
    background-color: green;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 90%;
    
}

.portfolio_second_page {
    background-color: yellow;
    width: 100vw;
    height: 100vh;
}

.portfolio_illustrator_carousel {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    align-items: flex-start;
   
    
}




